*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	box-sizing: border-box;
  list-style: none;
}

body{
	background: black;
	color: #545454;
}

.navbar{
	width: 100%;
	height: 60px;
	position: fixed;
	top: 0;
	left: 0;
	padding: 0 50px;
	z-index: 10;
}

.navbar .inner_navbar{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
}

.navbar .hamburger{
	display: none;
}

.navbar .logo a{
	font-weight: 700;
	font-size: 24px;
	letter-spacing: 3px;
	color: white;
}

.navbar .logo a span{
	color: rgb(168, 163, 163);
}

.navbar .menu ul{
	display: flex;
}

.navbar .menu ul li a{
	width: 120px;
	margin-right: 10px;
	display: block;
	text-align: center;
	padding: 10px;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 1px;
	transition: all 0.2s ease;
}

.navbar .menu ul li:last-child a{
	margin-right: 0;	
}

.navbar .menu ul li a:hover,
.navbar .menu ul li a.active{
	color: rgb(168, 163, 163);
}

.wrapper {
	height: 100vh;
}


.wrapper .hero-text {
	position: absolute;
	bottom: 55%;
	color: white;
	left: 10%;
}

.wrapper .mainHeading {
    max-width: 700px;
    width: 100%;
    padding: 100px 50px 50px;
    margin: 0 auto 0px;
    text-align: center;
    font-size: 58px;
    text-transform: uppercase;
    color: white;
  }
  
  .wrapper .boxes {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
  }
  
  .wrapper .boxes .individualBoxes {
    width: 325px;
    margin: 10px;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
    padding: 25px;
  }
  
  .wrapper .boxes .individualBoxes .individualBoxesImage {
    width: 170px;
    height: 170px;
    background-color: black;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  
  .wrapper .boxes .individualBoxes .boxTitle {
    color: #444;
  }
  
  .wrapper .boxes .individualBoxes span {
    font-size: 12px;
    color: #999;
  }
  
  .wrapper .boxes .individualBoxes p {
    margin: 15px 0;
  }
  
  .wrapper .boxes .individualBoxes .btn_grp {
    display: flex;
  }
  
  .wrapper .boxes .individualBoxes .btn_grp a {
    background: #ddd;
    display: block;
    width: 125px;
    margin: 0 10px;
    padding: 10px;
    border-radius: 6px;
    color: #444;
    text-transform: capitalize;
    transition: all 0.3s ease;
  }
  
  .wrapper .boxes .individualBoxes .btn_grp a:first-child:hover {
    background: black;
    color: #fff;
  }
  
  .wrapper .boxes .individualBoxes .btn_grp a:last-child:hover {
    background: black;
    color: #fff;
  }

  .containerForALTERNATIVE {
    
    height: 90vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    
    
}

.alternativeBox {
    flex: 0.5;
    display: flex;
    margin: 10px 20px;
    flex-direction: row;
    
}

.alternativeImage {
    flex: 1;   
    border: 3px solid rgb(255, 255, 255); 
}

.alternativeText {
    flex: 2; 
    border: 3px solid rgb(255, 255, 255);
}

.alternativeBox:nth-child(even){
    flex-direction: row-reverse;
}

.footer{
    background: #0e0e0e;
    padding: 50px;
 }
 
 .footer .footer_menu{
   display: flex;
   margin-bottom: 25px;
   justify-content: space-between;
 }
 
 .footer .footer_menu .title{
   margin-bottom: 10px;
   color: #adadad;
 }
 
 .footer .footer_menu ul li a{
   display: block;
   margin-bottom: 6px;
   color: #fff;
 }
 
 .footer .footer_menu ul li a:hover{
   text-decoration: underline;
 }
 
 .footer .partners{
   margin-bottom: 25px;
 }
 
 .footer .partners ul{
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
 }
 
 .footer .partners li a{
   background: url('https://i.imgur.com/VP4t37b.png') no-repeat 0 0;
     width: 101px;
     height: 100px;
   display: block;
   margin: 0 5px;
 }
 
 .footer .partners li a.partner1{
   background-position: 0 0;
     width: 100px;
     height: 100px;
 }
 .footer .partners li a.partner2{
   background-position: 0 -108px;
     width: 100px;
     height: 101px;
 }
 .footer .partners li a.partner3{
   background-position: 0 -216px;
     width: 100px;
     height: 101px;
 }
 .footer .partners li a.partner4{
   background-position: 0 -325px;
     width: 100px;
     height: 101px;
 }
 .footer .partners li a.partner5{
   background-position: 0 -446px;
     width: 100px;
     height: 100px;
 }
 
 .footer .social_media{
   text-align: center;
 }
 
 .footer .social_media ul{
   display: flex;
   justify-content: center;
   margin-bottom: 15px;
 }
 
 .footer .social_media ul li a{
   display: block;
   margin: 0 5px;
   color: #fff;
   font-size: 24px;
   width: 50px;
   height: 50px;
   background: #fff;
   color: #222222;
   line-height: 50px;
   border-radius: 3px;
 }
 
 .footer .social_media ul li a:hover{
   color: #fff;
 }
 
 .footer .social_media ul li a.facebook:hover{
   background: #3b5998; 
 }
 
 .footer .social_media ul li a.twitter:hover{
   background: #1da1f2; 
 }
 
 .footer .social_media ul li a.instagram:hover{
   background: #c32aa3; 
 }
 
 .footer .social_media ul li a.whatsapp:hover{
   background: #25d366; 
 }
 
 .footer .social_media{
   color: #adadad;
 }






@media (max-width: 900px){
	.navbar{
		height: 100px;
		padding: 12px;
	}
	.navbar .inner_navbar{
		flex-direction: column;
	}
	.main_container{
		margin-top: 100px;
    }
    

  .boxes {
    display: flex;
    flex-direction: column;
  }

}

@media (max-width: 728px){
	.navbar{
		height: 60px;
	}
	.navbar .inner_navbar{
		flex-direction: row;
	}
	.main_container{
		margin-top: 60px;
	}
	.navbar .menu ul{
		position: absolute;
		top: 60px;
		left: 0;
		display: block;
		width: 100%;
		background-color: rgb(0, 0, 0);
		
		
	}
	.navbar .menu ul li{
		padding: 10px;
		background-color: rgb(0, 0, 0);
		transition: all ease 1s;
		
	}
	.navbar .menu ul li a{
		width: 100%;
		padding: 12px;
		background-color: rgb(0, 0, 0);
	}
	.navbar .hamburger{
		display: block;
		position: absolute;
		top: 15px;
		right: 25px;
		font-size: 24px;
		color: rgb(192, 192, 192);
        cursor: pointer;
		transition: all 0.2s ease;
	}
	.navbar .hamburger:hover{
		color: rgb(168, 163, 163);
	}
	.navbar .menu{
		display: none;

	}
	.navbar .menu.active{
		display: block;
	}
	.main_container .content .item_wrap{
		width: 100%;

  }
  
  .wrapper .boxes {
    display: flex;
    flex-direction: column;
    height: auto;
  }

}