*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  list-style: none;
}

body{
  color: #545454;
}

a {
  text-decoration: none;
  color: #333;
}

.totalHero {
  position: relative;
  height: 100vh;
  z-index: -100;
	background-image: url(/images/blob.png);
	background-position: center;
	background-repeat: no-repeat;
  background-size: cover;

}


/* Navbar */
.navbar {
  background-color: rgba(0, 0, 0, 0);
  color:white;
  height: 70px;
  z-index: 100;
}

.navbar .logo {
  padding-left: 10px;
}

.navbar ul {
  display: flex;
  padding-right: 50px;
}

.navbar a {
  color:white;
  padding: 10px;
}

.navbar a:hover {
  border-bottom: 2px #fff solid;
}

.container {
  max-width: 90vw;
  margin: 0 auto;
  padding: 0 10px;
  height: auto;
}

.navbar .flex {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}



.wrapper {
	height: 100vh;
}



.totalHero .hero-text {
	position: absolute;
	bottom: 55%;
  color: white;
  left: 10%;
}

.threeBoxLayout {
  height: 100vh;
  
}

.threeBoxLayout .mainHeading {
    max-width: 700px;
    width: 100%;
    padding: 50px 50px ;
    margin: 0 auto 0px;
    text-align: center;
    font-size: 58px;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
  }
  
  .threeBoxLayout .boxes {
    width: auto;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
  }
  
  .threeBoxLayout .boxes .individualBoxes {
    width: 325px;
    margin: 10px;
    background: rgb(235, 235, 235);
    border-radius: 6px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
    padding: 25px;
  }
  
  .threeBoxLayout .boxes .individualBoxes .individualBoxesImage {
    width: 170px;
    height: 170px;
    background-color: black;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  
  .threeBoxLayout .boxes .individualBoxes .boxTitle {
    color: #444;
  }
  
  .threeBoxLayout .boxes .individualBoxes span {
    font-size: 12px;
    color: #999;
  }
  
  .threeBoxLayout .boxes .individualBoxes p {
    margin: 15px 0;
  }
  
  .threeBoxLayout .boxes .individualBoxes .btn_grp {
    display: flex;
  }
  
  .threeBoxLayout .boxes .individualBoxes .btn_grp a {
    background: #ddd;
    display: block;
    width: 125px;
    margin: 0 10px;
    padding: 10px;
    border-radius: 6px;
    color: #444;
    text-transform: capitalize;
    transition: all 0.3s ease;
  }
  
  .threeBoxLayout .boxes .individualBoxes .btn_grp a:first-child:hover {
    background: black;
    color: #fff;
  }
  
  .threeBoxLayout .boxes .individualBoxes .btn_grp a:last-child:hover {
    background: black;
    color: #fff;
  }

  .containerForALTERNATIVE {
    
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    
    
}

.alternativeBox {
    flex: 0.5;
    display: flex;
    margin: 10px 20px;
    flex-direction: row;
    
}

.alternativeImage {
    flex: 1;   
    border: 3px solid rgb(255, 255, 255); 
}

.alternativeText {
    flex: 2; 
    border: 3px solid rgb(255, 255, 255);
}

.alternativeBox:nth-child(even){
    flex-direction: row-reverse;
}

.footer{
    background: #0e0e0e;
    padding: 50px;
 }
 
 .footer .footer_menu{
   display: flex;
   margin-bottom: 25px;
   justify-content: space-between;
 }
 
 .footer .footer_menu .title{
   margin-bottom: 10px;
   color: #adadad;
 }
 
 .footer .footer_menu ul li a{
   display: block;
   margin-bottom: 6px;
   color: #fff;
 }
 
 .footer .footer_menu ul li a:hover{
   text-decoration: underline;
 }
 
 .footer .partners{
   margin-bottom: 25px;
 }
 
 .footer .partners ul{
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
 }
 
 .footer .partners li a{
   background: url('https://i.imgur.com/VP4t37b.png') no-repeat 0 0;
     width: 101px;
     height: 100px;
   display: block;
   margin: 0 5px;
 }
 
 .footer .partners li a.partner1{
   background-position: 0 0;
     width: 100px;
     height: 100px;
 }
 .footer .partners li a.partner2{
   background-position: 0 -108px;
     width: 100px;
     height: 101px;
 }
 .footer .partners li a.partner3{
   background-position: 0 -216px;
     width: 100px;
     height: 101px;
 }
 .footer .partners li a.partner4{
   background-position: 0 -325px;
     width: 100px;
     height: 101px;
 }
 .footer .partners li a.partner5{
   background-position: 0 -446px;
     width: 100px;
     height: 100px;
 }
 
 .footer .social_media{
   text-align: center;
 }
 
 .footer .social_media ul{
   display: flex;
   justify-content: center;
   margin-bottom: 15px;
 }
 
 .footer .social_media ul li a{
   display: block;
   margin: 0 5px;
   color: #fff;
   font-size: 24px;
   width: 50px;
   height: 50px;
   background: #fff;
   color: #222222;
   line-height: 50px;
   border-radius: 3px;
 }
 
 .footer .social_media ul li a:hover{
   color: #fff;
 }
 
 .footer .social_media ul li a.facebook:hover{
   background: #3b5998; 
 }
 
 .footer .social_media ul li a.twitter:hover{
   background: #1da1f2; 
 }
 
 .footer .social_media ul li a.instagram:hover{
   background: #c32aa3; 
 }
 
 .footer .social_media ul li a.whatsapp:hover{
   background: #25d366; 
 }
 
 .footer .social_media{
   color: #adadad;
 }






@media (max-width: 1040px){
  .threeBoxLayout {
    height: auto;
  }

  .navbar ul {
    padding-right: 0;
  }


  

}

@media (max-width: 690px){

  .container {
    max-width: 98vw;
    margin: 0 auto;
    padding: 0 10px;
    height: auto;
  }




  .alternativeBox {
    flex: 0.5;
    display: flex;
    margin: 10px 20px;
    flex-direction: column;
    
}

.alternativeBox:nth-child(even){
   flex-direction: column;
}

.alternativeImage {
  flex: 2;   
  border: 3px solid rgb(255, 255, 255); 
}

.alternativeText {
  flex: 1; 
  border: 3px solid rgb(255, 255, 255);
}

  .wrapper .boxes {
    display: flex;
    flex-direction: column;
    height: fit-content;
  }




}
